<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookChef</display-name>
  <welcome-file-list>
    <welcome-file>b_1_index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>com.r3sys.services.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chefLogin</display-name>
    <servlet-name>chefLogin</servlet-name>
    <servlet-class>com.r3sys.services.chefLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chefLogin</servlet-name>
    <url-pattern>/chefLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chefRegister</display-name>
    <servlet-name>chefRegister</servlet-name>
    <servlet-class>com.r3sys.services.chefRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chefRegister</servlet-name>
    <url-pattern>/chefRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userLogin</display-name>
    <servlet-name>userLogin</servlet-name>
    <servlet-class>com.r3sys.services.userLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userRegister</display-name>
    <servlet-name>userRegister</servlet-name>
    <servlet-class>com.r3sys.services.userRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegister</servlet-name>
    <url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>b_bookChef</display-name>
    <servlet-name>b_bookChef</servlet-name>
    <servlet-class>com.r3sys.services.b_bookChef</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>b_bookChef</servlet-name>
    <url-pattern>/b_bookChef</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changePass</display-name>
    <servlet-name>changePass</servlet-name>
    <servlet-class>com.r3sys.services.changePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePass</servlet-name>
    <url-pattern>/changePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeCpass</display-name>
    <servlet-name>changeCpass</servlet-name>
    <servlet-class>com.r3sys.services.changeCpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeCpass</servlet-name>
    <url-pattern>/changeCpass</url-pattern>
  </servlet-mapping>
</web-app>